#page-animal-register {
  max-width: 60rem;
  margin: 8rem auto 10rem auto;
}

#page-animal-register h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

#page-animal-register form {
  max-width: 40rem;
  margin: 0 auto;
}

#page-animal-register form fieldset {
  border: none;
  margin-top: 2rem;
}

#page-animal-register form legend {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

#page-animal-register form .double-input-row {
  display: flex;
}

#page-animal-register form .double-input-row #input,
#page-animal-register form .double-input-row #select {
  width: 50%;
}

#page-animal-register form .double-input-row #input:last-child,
#page-animal-register form .double-input-row #select:last-child {
  margin-left: 2rem;
}

#page-animal-register form button {
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 6rem;
}

@media (max-width: 1120px) {
  #page-animal-register form {
    padding: 0 1rem;
  }
}
