#page-login {
  max-width: 60rem;
  margin: 12rem auto 16rem auto;
}

#page-login h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

#page-login form {
  max-width: 40rem;
  margin: 0 auto;
}

#page-login form button {
  max-width: 20rem;
  margin: 0 auto;
  margin-top: 6rem;
}

@media (max-width: 1120px) {
  #page-login form {
    padding: 0 1rem;
  }
}
