#select {
  margin-bottom: 1rem;
}

#select select {
  border: 1px solid var(--color-grey-light);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: var(--color-grey-light);
  transition: 0.2s;
}

#select select:hover,
#select select:focus {
  outline: none;
  border-color: var(--color-primary);
  background: white;
  box-shadow: 0 0 0 0.2rem rgba(255, 85, 85, 0.25);
}

#select label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}
