#page-castration-register {
  margin: 8rem auto 10rem auto;
}

#page-castration-register h2 {
  color: #7b7676;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

#page-castration-register .castration-form {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  gap: 1rem;
}

#page-castration-register .castration-form h3 {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

#page-castration-register .castration-form > div {
  border: 2px solid #8f8f8f;
  padding: 1rem;
}

#page-castration-register .castration-form .instructions h4,
#page-castration-register .castration-form .instructions p {
  color: #7b7676;
}

#page-castration-register .castration-form .instructions p {
  margin-bottom: 1rem;
}

#page-castration-register .choose-pet .btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-castration-register .choose-pet .btns button + button {
  margin-left: 2rem;
}

#page-castration-register .react-calendar {
  width: 100%;
  border: none;
  border-radius: 4px;
  line-height: 3.4rem;
}

#page-castration-register .react-calendar__navigation button {
  font-size: 1.2rem;
}

#page-castration-register .react-calendar abbr[title] {
  text-decoration: none;
}

#page-castration-register .react-calendar__tile--active {
  background: var(--color-primary);
}

#page-castration-register .react-calendar__tile--active:enabled:hover,
#page-castration-register .react-calendar__tile--active:enabled:focus {
  background: var(--color-primary);
}

#page-castration-register .confirmation .schedule {
  border: 2px solid #828181;
  padding: 1rem;
  margin: 2rem 0;
}

#page-castration-register .confirmation .schedule h4 {
  text-align: center;
  margin-bottom: 1rem;
}

#page-castration-register .confirmation .schedule #radio {
  display: flex;
  justify-content: space-between;
}

#page-castration-register .confirmation .btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-castration-register .btn-cancel {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #ddd;
  color: #fff;
  box-sizing: border-box;
  transition: 0.1s;
  display: inline-block;
}

#page-castration-register .btn-cancel:hover,
#page-castration-register .btn-cancel:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 85, 85, 0.25);
}

#page-castration-register .btn {
  width: 6rem;
  min-width: 0;
  padding: 0.8rem;
}

@media (max-width: 1120px) {
  #page-castration-register {
    padding: 0 1rem;
  }

  #page-castration-register .castration-form {
    grid-template-columns: 1fr;
  }

  #page-castration-register .confirmation .schedule #radio {
    justify-content: center;
  }

  #page-castration-register .confirmation .schedule #radio label + label {
    margin-left: 2rem;
  }

  #page-castration-register .confirmation .btns {
    justify-content: center;
  }

  #page-castration-register .confirmation .btns button {
    margin-left: 2rem;
  }
}
