#page-castrations {
  margin: 8rem auto 10rem auto;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
}

#page-castrations h2 {
  color: #7b7676;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

#page-castrations .previous-castrations .castration {
  margin-top: 1rem;
  padding: 2rem;
  border: 2px solid #c8c6c6;
}

#page-castrations .previous-castrations .castration-date {
  color: #606060;
  margin-bottom: 2rem;
}

#page-castrations .previous-castrations .castration-short-details {
  color: #7b7676;
}

#page-castrations .previous-castrations .castration-period {
  color: var(--color-primary);
}

@media (max-width: 1120px) {
  #page-castrations {
    padding: 0 1rem;
    grid-template-columns: 1fr;
    gap: 6rem;
  }
}
