#footer {
  background: var(--color-primary);
  color: #fff;
}

#footer .logo-contact {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#footer .logo-contact img {
  width: 6rem;
}

#footer .contact {
  margin-left: 6rem;
  font-weight: 300;
  font-size: 1.2rem;
}

#footer .county-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

@media (max-width: 1120px) {
  #footer .logo-contact {
    justify-content: center;
  }

  #footer .logo-contact img {
    display: none;
  }

  #footer .contact {
    margin-left: 0;
    font-size: 1rem;
  }

  #footer .county-name {
    padding: 2rem 0 1rem 0;
  }
}
