#header {
  background: var(--color-primary);
  color: #fff;
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo {
  display: flex;
  align-items: center;
}

#header .logo h1 {
  font-size: 2.6rem;
  margin-left: 1rem;
}

#header .logo img {
  width: 3.4rem;
}

#header .user {
  font-size: 1.4rem;
  display: flex;
}

#header .user a {
  color: #fff;
  margin-right: 1rem;
}

#header .logout {
  cursor: pointer;
}

@media (max-width: 1120px) {
  #header .logo h1 {
    font-size: 2rem;
    margin-left: 1rem;
  }

  #header .logo img {
    margin-left: 1rem;
    width: 2.4rem;
  }

  #header .user {
    font-size: 1.2rem;
    display: flex;
  }
}
